.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #232323;
}

.text-container {
  display: flex;
  gap: 10px;
  margin-left: 35px;
}

.text {
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
}

.selected-text {
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
  border-bottom: 2px solid #F65261;
}
