.App {
  text-align: center;
  background-color: #555;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
}

